@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    margin:0;
    padding: 0;
    
    
}
.top{
    display: flex;
    justify-content: space-between;
    font: white;
}
a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    font-family: Roboto, sans-serif;
}
ul{
    list-style-type: none;
    display: flex;
    gap:36px;
    margin-right: 300px;
    
}

.header{
    background-color: #1f2937;
    
    
}
.textmain{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    padding: 8px;
    margin-left: 240px;
    font-family: Roboto, sans-serif;
}
.bottom{
    display: flex;
    justify-content: space-around;
    margin-top: 48px;
    margin-bottom: 48px;
}
.maintitle{
    font-family: Roboto, sans-serif;
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    flex-wrap: wrap;
}
.left{
    width: 460px;
}
.right{
    height: 200px;
    width: 480px;
    background-color: #E5E7EB;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto, sans-serif;
}
.subtext{
    color: #E5E7EB;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    flex-wrap: wrap;
    margin-bottom: 8px;
}
.above{
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    font-family: Roboto, sans-serif;
    padding: 8px 16px;
    border-color: #F9FAF8;
}


.infotitle{
    font-size: 36px;
    font-family: Roboto, sans-serif;
    color: #1F2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
}
.maininfo{
    display: flex;
    justify-content: space-around;
}
.card{
    
    background-color: #E5E7EB;
    width: 200px;
    height: 200px;
    
    border-radius: 16px;
    
}
.text{
    width: 200px;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    margin-top: 8px;
    
}
.quote{
    background-color: #E5E7EB;
    margin-top: 84px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mainquote{
    font-size: 36px;
    font-family: Roboto, sans-serif;
    width:800px;
    flex-wrap: wrap;
    padding-top: 80px;

    color: #1F2937;
}
.author{
    font-family: Roboto, sans-serif;
    font-weight: bold;
    padding: 8px;
    font-size: 24px;
    margin-left:600px;
    padding-bottom: 80px;
}
.signupbox{
    background-color: #3882F6;
    display: flex;
    border-radius: 16px;
    height: 150px;
    width: 1100px;
    margin-left: 400px;
    margin-top: 50px;
    justify-content: space-around;
    margin-bottom: 50px;
}
.below{
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 12px;
    font-family: Roboto, sans-serif;
    padding: 8px 12px;
    border-color: #F9FAF8;
    margin-top: 48px;
    margin-bottom: 48px;
}
.signuptext{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.maintext{
    font-weight: 900;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    color: #F9FAF8;
    
}
.maintext1{
    
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: #F9FAF8;
    
}
