@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    margin:0;
    padding: 0;
    
    
}
.top{
    display: flex;
    justify-content: space-between;
    font: white;
}
a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    font-family: Roboto, sans-serif;
}
ul{
    list-style-type: none;
    display: flex;
    gap:36px;
    margin-right: 300px;
    
}

.header{
    background-color: #1f2937;
    
    
}
.textmain{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    padding: 8px;
    margin-left: 240px;
    font-family: Roboto, sans-serif;
}
.bottom{
    display: flex;
    justify-content: space-around;
    margin-top: 48px;
    margin-bottom: 48px;
}
.maintitle{
    font-family: Roboto, sans-serif;
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    flex-wrap: wrap;
}
.left{
    width: 460px;
}
.right{
    height: 200px;
    width: 480px;
    background-color: #E5E7EB;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto, sans-serif;
}
.subtext{
    color: #E5E7EB;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    flex-wrap: wrap;
    margin-bottom: 8px;
}
.same{
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 16px;
    font-family: Roboto, sans-serif;
    padding: 8px 16px;
}


.infotitle{
    font-size: 36px;
    font-family: Roboto, sans-serif;
    color: #1F2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
}
.maininfo{
    display: flex;
    justify-content: space-around;
}
.card{
    
    background-color: #E5E7EB;
    width: 200px;
    height: 200px;
    
    border-radius: 16px;
    
}
.text{
    width: 200px;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    margin-top: 8px;
    
}


